[submodule "Core/vendor/spdlog"]
	path = Core/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "Core/vendor/GLFW"]
	path = Core/vendor/GLFW
	url = ../../starbounded-dev/glfw.git
	branch = master
[submodule "Core/vendor/imgui"]
	path = Core/vendor/imgui
	url = ../../starbounded-dev/imgui.git
	branch = docking
[submodule "Core/vendor/glm"]
	path = Core/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "Core/vendor/yaml-cpp"]
	path = Core/vendor/yaml-cpp
	url = https://github.com/sheazywi/yaml-cpp
[submodule "Core/vendor/imguizmo"]
	path = Core/vendor/imguizmo
	url = https://github.com/sheazywi/imguizmo.git
[submodule "Core/vendor/Box2D"]
	path = Core/vendor/Box2D
	url = https://github.com/sheazywi/box2d
[submodule "Core/vendor/msdf-atlas-gen"]
	path = Core/vendor/msdf-atlas-gen
	url = https://github.com/sheazywi/msdf-atlas-gen
[submodule "Core/vendor/tracy/tracy"]
	path = Core/vendor/tracy/tracy
	url = https://github.com/wolfpld/tracy
