# Binaries
**/bin/
bin-int/
Intermediates/

# StarEngine files
*.log
*imgui.ini

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
scripts/__pycache__

!vendor/bin/

Editor/assets/cache
Editor/Resources/Scripts/ScriptCore.dll
Editor/Resources/Scripts/ScriptCore.pdb
Editor/Resources/Scripts/Lux-ScriptCore.dll
Editor/Resources/Scripts/Lux-ScriptCore.pdb
Sandbox/Resources/Cache
