# Binaries
bin-int/
Intermediates/
/bin

# StarEngine files
*.log
*imgui.ini

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
scripts/__pycache__

!vendor/bin/

Editor/assets/cache
Editor/Resources/Scripts/**
Sandbox/Resources/Cache
Core/vendor/GLAD
Core/vendor/NFD-Extended
Core/vendor/tracy
Editor/SandboxProject/Assets/Scripts/Binaries
Editor/Resources/Cache
