[submodule "Core/vendor/spdlog"]
	path = Core/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "Core/vendor/GLFW"]
	path = Core/vendor/GLFW
	url = https://github.com/TheCherno/glfw
	branch = master
[submodule "Core/vendor/imgui"]
	path = Core/vendor/imgui
	url = https://github.com/StudioCherno/imgui
	branch = hazel
[submodule "Core/vendor/glm"]
	path = Core/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "Core/vendor/imguizmo"]
	path = Core/vendor/imguizmo
	url = https://github.com/sheazywi/imguizmo.git
[submodule "Core/vendor/Box2D"]
	path = Core/vendor/Box2D
	url = https://github.com/sheazywi/box2d
[submodule "Core/vendor/msdf-atlas-gen"]
	path = Core/vendor/msdf-atlas-gen
	url = https://github.com/sheazywi/msdf-atlas-gen
[submodule "Core/vendor/tracy/tracy"]
	path = Core/vendor/tracy/tracy
	url = https://github.com/wolfpld/tracy
[submodule "Core/vendor/nvrhi"]
	path = Core/vendor/nvrhi
	url = https://github.com/StudioCherno/nvrhi.git
	branch = hazel
[submodule "Core/vendor/SPIRV-Cross"]
	path = Core/vendor/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "Core/vendor/NFD-Extended/NFD-Extended"]
	path = Core/vendor/NFD-Extended/NFD-Extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "Core/vendor/FastNoise"]
	path = Core/vendor/FastNoise
	url = https://github.com/Auburns/FastNoise
